<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
          <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
          <header class="navbar">
                    <div class="header-content">
                        <a id="logo-icon" href="index.html">
                            <img src="../libs/tv-square-logo.png" alt="" class="tv-square">
                            <h1 id="logo-tecnics">Tècnics</h1>
                        </a>
                
                        <ul class="nav-list">
                            <a href="equips_de_so.html" class="header-item">
                                <p class="header-item-name">Reparacions</p>
                                <hr class="nav-line-header">
                            </a>
                            <a href="antenes.html" class="header-item">
                                <p class="header-item-name-">Instal·lacions</p>
                                <hr class="nav-line-header">
                            </a>
                            <a href="informatica.html" class="header-item">
                                <p class="header-item-name">Contacte</p>
                                <hr class="nav-line-header">
                            </a>
                        </ul>
                    </div>
          </header>    
            
          <div class="container" id="container-box">
          
                    <div class="image-container">
          
                              <div id="menu-container">
                                        <a class="menu-item-target" id="menu-item-tv" href="equips_de_so.html">
                                                  <h2 class="item-menu-title">Televisions</h2>
                                                  <hr class="nav-line"></hr>
                                        </a>
                              
                                        <a class="menu-item-target" id="menu-item-equipsdeso" href="equips_de_so.html">
                                                  <h2 class="item-menu-title">Equips de So</h2>
                                                  <hr class="nav-line"></hr>
                                        </a>
                              
                                        <a class="menu-item-target" id="menu-item-antenes" href="antenes.html">
                                                  <h2 class="item-menu-title">Antenes de Tv</h2>
                                                  <hr class="nav-line"></hr>
                                        </a>
                                        
                                        <a class="menu-item-target" id="menu-item-informatica" href="informatica.html">
                                                  <h2 class="item-menu-title">Informàtica</h2>
                                                  <hr class="nav-line"></hr>
                                        </a>
                              </div>
                    </div>   
          </div> 
</body>
</html>