<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tv tècnics</title>
    <!-- Swiper js -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <!-- Others -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="false" >
    <!-- FontAwesome -->
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
</head>
<body class="body">
    
    <!-- <script src="https://kit.fontawesome.com/96856623da.js" crossorigin="anonymous"></script> -->
   
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="false"contentType="application/json"></script>

    <header class="navbar">
        <div class="header-content">
            <a id="logo-icon" href="index.html">
                <img src="../libs/tv-square-logo.png" alt="" class="tv-square">
                <h1 id="logo-tecnics">Tècnics</h1>
            </a>
    
            <ul class="nav-list">
                <a href="equips_de_so.html" class="header-item">
                    <p class="header-item-name">Reparacions</p>
                    <hr class="nav-line-header">
                </a>
                <a href="antenes.html" class="header-item">
                    <p class="header-item-name-">Instal·lacions</p>
                    <hr class="nav-line-header">
                </a>
                <a href="informatica.html" class="header-item">
                    <p class="header-item-name">Contacte</p>
                    <hr class="nav-line-header">
                </a>
            </ul>
        </div>
    </header>    

    <div class="container" id="container-box">
    
        <div class="image-container">

            <div id="menu-container">
                <a class="menu-item-target" id="menu-item-tv" href="equips_de_so.html">
                    <h2 class="item-menu-title">Televisions</h2>
                    <hr class="nav-line"></hr>
                </a>

                <a class="menu-item-target" id="menu-item-equipsdeso" href="equips_de_so.html">
                    <h2 class="item-menu-title">Equips de So</h2>
                    <hr class="nav-line"></hr>
                </a>

                <a class="menu-item-target" id="menu-item-antenes" href="antenes.html">
                    <h2 class="item-menu-title">Antenes de Tv</h2>
                    <hr class="nav-line"></hr>
                </a>
                
                <a class="menu-item-target" id="menu-item-informatica" href="informatica.html">
                    <h2 class="item-menu-title">Informàtica</h2>
                    <hr class="nav-line"></hr>
                </a>
            </div>


            <button class="arrow-div-up" onclick="arrowActive('up')">
                
            </button>

            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">

                    <!-- Slides -->

                    <div class="swiper-slide">
                        <div class="info-container">
                            <h1 class="title-text">Qui Som?</h1>
                            <hr class="title-line">
                            <p class="description-text">
                                TV Tècnics és una empresa amb més de 20 anys d’experiència. El nostre equip de professionals està preparat i perfectament qualificat, disposem d’amplis coneixements i llarga experiència en el sector, dedicant-nos a l'assistència tècnica en instal·lacions i reparacions. Aquest és un factor que ens avala i garanteix un servei professional.
                                <br>
                                Fem instal·lacions i ens desplacem per tot Catalunya.
                                TV Tècnics desenvolupa instal·lacions de TV Terrestre i Satèl·lit en habitatges, comunitats de veïns, locals comercials, hotels, ..., sempre sota la garantia d’utilitzar les millors marques.        
                                En totes les instal·lacions fem un estudi personalitzat per tal d’obtenir la millor recepció i qualitat del senyal al seu habitatge.
                                També som especialistes en reparació d’aparells electrònics de la gama marró.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="info-container">
                            <div class="map-text">
                              <div id="text">
                                <h1 class="title-text">On ens pots trobar?</h1>
                                <hr class="title-line">
                                <p class="description-text">Fem instal·lacions i ens desplacem per tot Catalunya.
                                        TV Tècnics desenvolupa instal·lacions de TV Terrestre i Satèl·lit en habitatges, comunitats de veïns, locals comercials, hotels, ..., sempre sota la garantia d’utilitzar les millors marques.        
                                        En totes les instal·lacions.</p>
                              </div>  
                              <a href="https://www.google.com/maps/place/tv+t%C3%A8cnics/@41.4026187,2.1519235,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4a2a2c4186295:0x50b824414cdedca4!8m2!3d41.4026101!4d2.1541035"><div id="mapid"></div></a>
                            </div>
                                
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="info-container">
                            <h1 class="title-text">Demana una reparació</h1>
                            <hr class="title-line">
                            <p class="description-text">Fem instal·lacions i ens desplacem per tot Catalunya.
                                TV Tècnics desenvolupa instal·lacions de TV Terrestre i Satèl·lit en habitatges, comunitats de veïns, locals comercials, hotels, ..., sempre sota la garantia d’utilitzar les millors marques.        
                                En totes les instal·lacions.</p>
                                <br>
                            <a class="link" href="#">Contacte</a>
                        </div>
                    </div>
                
                    <!-- If we need pagination -->
                    <!-- <div class="swiper-pagination"></div> -->
                
                    <!-- If we need navigation buttons -->
                </div>
                    <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
                <i class="fa fa-caret-down" aria-hidden="true"></i>        


                <div class="mobile-container" id="container-box">
    
                    <div class="info-container">
                        <h1 class="title-text">Qui Som?</h1>
                        <hr class="title-line">
                        <p class="description-text">
                            TV Tècnics és una empresa amb més de 20 anys d’experiència. El nostre equip de professionals està preparat i perfectament qualificat, disposem d’amplis coneixements i llarga experiència en el sector, dedicant-nos a l'assistència tècnica en instal·lacions i reparacions. Aquest és un factor que ens avala i garanteix un servei professional.
                            <br>
                            Fem instal·lacions i ens desplacem per tot Catalunya.
                            TV Tècnics desenvolupa instal·lacions de TV Terrestre i Satèl·lit en habitatges, comunitats de veïns, locals comercials, hotels, ..., sempre sota la garantia d’utilitzar les millors marques.        
                            En totes les instal·lacions fem un estudi personalitzat per tal d’obtenir la millor recepció i qualitat del senyal al seu habitatge.
                            També som especialistes en reparació d’aparells electrònics de la gama marró.</p>
                    </div>
                
        
                    <div class="info-container">
                        <h1 class="title-text">On ens pots trobar?</h1>
                        <hr class="title-line">
                        <p class="description-text">Fem instal·lacions i ens desplacem per tot Catalunya.
                            TV Tècnics desenvolupa instal·lacions de TV Terrestre i Satèl·lit en habitatges, comunitats de veïns, locals comercials, hotels, ..., sempre sota la garantia d’utilitzar les millors marques.        
                            En totes les instal·lacions.</p>
                            <div id="map"></div>
                    </div>
            
                    <div class="info-container">
                        <h1 class="title-text">Demana una reparació</h1>
                        <hr class="title-line">
                        <p class="description-text">Fem instal·lacions i ens desplacem per tot Catalunya.
                            TV Tècnics desenvolupa instal·lacions de TV Terrestre i Satèl·lit en habitatges, comunitats de veïns, locals comercials, hotels, ..., sempre sota la garantia d’utilitzar les millors marques.        
                            En totes les instal·lacions.</p>
                        <a class="link" href="#">Demana una reparació</a>
            
                        <form action="">
                            <input type="text" placeholder= "Correu electrònic" id="contactEmail" value="">
                            <input type="text" placeholder="Nom i cognoms" id="contactName" value="">
                            <input type="text" placeholder="Telèfon de contacte" id="contactPhone" value="" >
                            <div class="dateHourContainer">
                                <input type="date" placeholder="Dia" id="contactDate">
                                <select name="contactHour" class="form-select" id="contactHour">
                                    <option value="10:00">10:00</option>
                                    <option value="10:00">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:00">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:00">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:00">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:00">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:00">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:00">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:00">17:30</option>
                                    <option value="18:00">18:00</option>
                                </select>
                            </div>
                            <textarea placeholder="Missatge" name="message" id="msg-input" cols="30" rows="10" value="value"></textarea>
                            <button id="button-form" type="button" onclick="makeRequest()">Enviar</button>
                        </form>
                    </div>
                </div>
                        
                
                </div>
            </div>  
        
            <button class="arrow-div-down" onclick="arrowActive('down')">
                <img src="../libs/arrow.png" alt="" class="arrow-img-down" id="arrow-img">
            </button>
            

        </div>

    </div>

    

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="../controllers/script.js"></script>
    
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPopwfqzky2JnctlED1kI232OWJDM3Y2w&callback=initMap&libraries=&v=weekly"async></script>  -->
    
    
</body>
</html>