*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: poppins, Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    background-image: url(../libs/reparacionpc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s;
    min-height: 830px;
    padding-bottom: 60px;
}

.html2, .body2{
    font-family: poppins, Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    background-image: url(../libs/background-image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s;
}

.html3, .body3{
    font-family: poppins, Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    background-image: url(../libs/background-image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s;
}

a{
    text-decoration: none;
    color: white;

}

/*Header*/

header{
    height: 150px;
    line-height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: height 1s, background-color 1s, top 1s, line-height 1s;
}

.header-content{
    width: 980px;
    margin: auto;
}

.sticky{
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
    height: 100px;
    line-height: 100px;
    width: 100%;
    transition: height 1s, background-color 1s, top 1s, line-height 1s;
    z-index: 2;
}

#logo-icon{
    float: left;
    width: 300px;
}

#logo-tecnics{
    font-size: 46px;
    font-weight: 600;
}

.tv-square{
    float: left;
    height: 40px;
    transform: translate(0, -50%);
    margin-top: 72px;
    margin-right: 5px;
    border-radius: 4px;
    transition: margin-top 1s;
}

.sticky-square{
    margin-top: 47px;
    transition: margin-top 1s;
}

.nav-list{
    float: right;
    display: block;
}

.sticky-list{
    display: block;
}

.header-item{
    float: left;
    margin-right: 30px;
}

.nav-line-header{
    opacity: 0;
    width: 40px;
    position: relative;
    bottom: 50px;
}

.sticky-line{
    bottom: 30px;
}

.header-item:hover .nav-line-header{
    background-color: rgb(0, 255, 136);
    width: 60px;
    height: 3px;
    border: none;
    opacity: 1;
    transition: width 1s;
}


/*menu-container*/

#menu-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

.menu-item-target{
    width: 210px;
    border: 4px solid rgb(255, 255, 255);
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin: 20px;
    margin-top: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.menu-item-target:hover{
    border: 4px solid rgb(0, 255, 136);
}
.nav-line{
    opacity: 0;
    width: 40px;
    position: relative;
    bottom: 20px;
    height: 4px;
    background-color: rgb(0, 255, 136);
    border: none;
    margin: auto;
}

.menu-item-target:hover .nav-line{
    opacity: 1;
    width: 80px;
    transition: width 1s;
}

#menu-item-equipsdeso{
    background-image: url(../libs/img_menu3.jpg);
    background-color: #888888; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#menu-item-antenes{
    background-image: url(../libs/img_menu4.webp);
    background-color: #888888; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#menu-item-informatica{
    background-image: url(../libs/img_menu6.jpg) ;
    background-color: #888888; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#menu-item-tv{
    background-image: url(../libs/151383Mesa-de-tv-Jazz-nogal.jpg) ;
    background-color: #888888; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

/*Info container*/

.container{
    width: 100%;
    margin: auto;
    height: auto;
}

.image-container{
    width: 100%;
    padding-top: 50px;
    background-attachment: fixed;
    height: auto;
}

.info-container{
    margin-bottom: 100px;
    width: 980px;
    margin: auto;
}

.info-container-mobile{
    width: auto;
    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
}

.info-container-sp{
  margin-bottom: 40px;
}

.info-container-tv, .info-container-so{
    margin-top: 40px;
}

.title-text{
    font-size: 30px;
    font-weight: 600;
}

.title-line{
    border: none;
    background-color: rgb(0, 255, 136);
    height: 5px;
    width: 80px;
    margin-bottom: 20px;
}

/*Leaflet*/

#mapid{
    height: 300px;
    margin: auto;
    margin-top: 200px;
}

#mapid2{
    height: 300px;
    margin: auto;
    margin-top: 20px;
    z-index: 1;
}

.map-text{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

#mapid{
    width: 500px;
    height: 300px;
    margin-top: 0;
    border: 4px solid white;
}

#mapid:hover{
    width: 500px;
    height: 300px;
    margin-top: 0;
    border: 4px solid rgb(0, 255, 136);
    cursor: pointer;
}

#mapid2:hover{
    border: 4px solid rgb(0, 255, 136);
    cursor: pointer;
}

.mobile-map-link{
    margin: 0;
}


/*Form reparacio*/

form{
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 200px;
}

input{
    border: none;
    height: 30px;
    width: 410px;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(43, 43, 43);
    padding-left: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 6px;
    font-family: poppins, arial, helvetica;
}

.dateHourContainer{
    width: 400px;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
    column-gap: 25px;
}

#contactDate{
    width: 305px;   
}

#contactHour{
    width: 80px;
    height: 30x;
    font-family: poppins, arial, helvetica;
    border-radius: 6px;
    height: 30px;
    border: none;
}

textarea{
    border: none;
    border-radius: 6px;
    height: 100px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(43, 43, 43);
    padding-left: 10px;
    display: block;
    font-family: poppins, helvetica, arial;
    padding: 10px;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 255, 136);
    color: white;
    margin-top: 15px;
    font-family: poppins, helvetica, arial;
}

button:hover{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 255, 136, 0.788);
    color: white;
    margin-top: 15px;
}

#span-msg-sended{
    color: rgb(0, 255, 136);
    font-size: 15px;
    display: block;
}

#span-msg-error{
    color: rgb(255, 0, 0);
    font-size: 15px;
    display: block;
}


/*Swiper*/

.link{
    font-weight: 600;
    border-bottom: 1px solid white;
}

.swiper-slide{
    height: 350px;
    width: 1000px;
}

.swiper-wrapper{
    height:350px;
    width: 1000px;

}

.swiper-container{
    height: 350px;
    width: 1000px;

}

.swiper-scrollbar{
    color:rgb(0, 255, 136);
}

.swiper-button-prev{
    color: rgb(0, 255, 136);
}

.swiper-button-next{
    color: rgb(0, 255, 136);
}

.arrow-div-up{
    width: 100%;
    text-align: center;
    background: none;
    margin-bottom: 30px;
}
.arrow-div-down{
    width: 100%;
    text-align: center;
    background: none;
}
.arrow-div-up:hover{
    background: none;
    opacity: 0.7;
}
.arrow-div-down:hover{
    background: none;
    opacity: 0.7;
}

.arrow-img-down{
    height: 40px;
    z-index: 3;
    margin: auto;
    align-items: center;
}

.arrow-img-up{
    height: 40px;
    z-index: 3;
    margin: auto;
    align-items: center;
    transform: rotate(180deg);
}

.arrow-img-blocked{
    height: 40px;
    z-index: 3;
    margin: auto;
    align-items: center;
    opacity: 0.2;
}

.arrow-img-up-blocked{
    height: 40px;
    z-index: 3;
    margin: auto;
    align-items: center;
    opacity: 0.2;
    transform: rotate(180deg);
}

/*View more*/

#view-more{
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    border-bottom: 2px solid white;
    border-radius: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#quisom-menys{
    display: none;
}
#quisom-mes{
    display: none;
}

/*Footer*/

footer{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom right, rgb(35,82,157), rgb(0, 255, 136));
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

/*Mobile Container*/

.mobile-container{
    display: none;
}

.form-contacte{
    padding-bottom: 40px;
}

/*Reparacions style*/

.logo-container{
    width: 980px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
}

.logo-png{
    width: 180px;
    margin: auto;
    margin-top:40px;
}

.logo-pmng-container{
    height: 75px;
    margin: auto;
}

#sanyo-logo{
    width: 130px;
}

#lg-logo{
    width: 120px;
}

#jbl-logo{
    width: 120px;
}

/*Contacte Expanded*/



@media (max-width: 1100px){

    header{
        background-color: rgba(0, 0, 0, 0.9);
        position: sticky;
        top: 0;
        width: 100%;
        transition: height 1s, background-color 1s, top 1s, line-height 1s;
        z-index: 2;
    }

    .nav-list{
        display: none;
    }

    .menu-item-target{
        width: 90%;
    }

    .header-content{
        width: 90%;
    }

    .info-container{
        width: 90%;
    }

    .swiper-container{
        display: none;
    }

    .arrow-div-up{
        display: none;
    }

    .arrow-div-down{
        display: none;
    }

    .info-container-mobile{
        display: block;
    }

    .html3, .body{  
        background: linear-gradient(to bottom right, rgb(35,82,157), rgb(0, 255, 136));
        height: auto;
    }

    .image-container{
        background-image: url(../libs/reparacionpc-short.jpg);
        padding-bottom: 80px;
        margin-bottom: 40px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo-container{
        width: 90%;
        grid-template-columns: auto auto auto;
    }



}

@media (max-width: 850px){

    #menu-container{
        grid-template-columns: auto auto;
        width: 90%;
    }

    .menu-item-target{
        height: 50px;
        font-size: 13px;
        line-height: 50px;
    }

    form{
        width: 90%;
    }
    input{
        width: 100%;
        padding-right: 10px;
    }
    textarea{
        width: 100%;
    }

    #mapid2{
        width: 100%;
    }

    #mapid2:hover{
        width: 100%;
    }

    .dateHourContainer{
        grid-template-columns: auto;
        width: auto;
    }

    #quisom-container{
        display: none;
    }

    #quisom-menys{
        display: block;
    }


}

@media(max-width: 700px){



}

@media (max-width: 500px){


    .image-container{
        padding-top: 20px;
    }

    #menu-container{
        grid-template-columns: auto;
        width: 90%;
    }
    
    
    .nav-line{
        height: 3px;
        bottom: 13px;
    }

    header{
        background-color: rgba(0, 0, 0, 0.9);
        position: sticky;
        top: 0;
        height: 100px;
        line-height: 100px;
        width: 100%;
        transition: height 1s, background-color 1s, top 1s, line-height 1s;
        z-index: 2;
    }
    
    .tv-square{
        margin-top: 47px;
        transition: margin-top 1s;
    }

    #mapid2{
        height: 200px;
    }

    #mapid2:hover{
        height: 200px;
    }

}


@media (max-width: 440px){
    

    #contactDate{
        width: 60%;
    }
}